name: build-and-release

on:
  workflow_dispatch:

permissions: write-all

jobs:
  core:
    name: build-and-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Initialization Environment
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt update
          sudo apt install -y build-essential device-tree-compiler python3
          sudo -E systemctl daemon-reload
          sudo -E timedatectl set-timezone "Asia/Shanghai"

      - name: Compile U-Boot
        run: |
          . ./build.sh build_all

          echo "COMPILE_DATE=$COMPILE_DATE" >> $GITHUB_ENV

      - name: Release U-Boot
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.COMPILE_DATE}}
          files: |
            ./log-*.txt
            ./uboot-ipq60xx-emmc-*.bin
          body_path: ./releasenotes.md
